HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/sftp-pool-core/src/test/
/sftp-pool-core/src/main/resources/log4j.properties
/jsftp-spring-boot-starter/src/test/java/me/meilon/jsftp/autoconfigure/SftpCoreTest.java
/jsftp-pool-core/src/main/resources/log4j.properties
